body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: green;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
}

#header img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

#counter {
    font-size: 10em;
    margin-bottom: 20px;
    margin-top: 100px; 
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

#reset {
    display: flex;
    justify-content: center;
    gap: 50px; 
}